(cors) {
  @cors_preflight method OPTIONS
  @cors header Origin {args.0}
  
  handle @cors_preflight {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
    header Access-Control-Allow-Headers "Content-Type"
    header Access-Control-Max-Age "3600"
    respond "" 204
  }
  
  handle @cors {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Expose-Headers "Link"
  }
}

http://:3000 {
  handle_path /api/* {
    import cors http://localhost

	  rewrite * /ap18/api/public/es/api/v1/V{path}

    reverse_proxy https://www.metrovalencia.es {
      header_up Host {upstream_hostport}
    }
  }

  handle {
    reverse_proxy app:3000
  }
}
